body {
	background-color: green;
	font-family: 'Crimson Pro', serif;
}

.wrapper {
	color: hotpink;
}

.content {
	font-family: 'Crimson Pro', serif;
	color: blue;
}

h1 {
	font-size: 50px;
}

h2 {
	font-family: 45px;
}
